# Code 1
- Build Basic Pipeline
- DataFrame Checks
- Group By
- If Then Model
- First Submission
- Import & Export

## 1/ Import Libraries
- Mount Google Drive
- Import Pandas Library

In [1]:
#CodeSection1
from google.colab import drive
drive.mount('/mntDrive')

Mounted at /mntDrive

In [2]:
#CodeSection2
<Write your code here>

## 2/ Import Data
- Import Train and Test [use read_csv()]

In [ ]:
/mntDrive/MyDrive/Project MasterMind/1 - Planning Stage/2- Research/6- New Teaching Method/Loan Prediction (Webinar Flow)/Solution Codes/input/

In [3]:
#CodeSection3
<Write your code here>
<Write your code here>

### Check Train Data
- Check first 5 rows of train [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [4]:
#CodeSection4
<Write your code here>

    Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
0  LP001002   Male      No  ...            1.0         Urban           Y
1  LP001003   Male     Yes  ...            1.0         Rural           N
2  LP001005   Male     Yes  ...            1.0         Urban           Y
3  LP001006   Male     Yes  ...            1.0         Urban           Y
4  LP001008   Male      No  ...            1.0         Urban           Y

[5 rows x 13 columns]

In [6]:
#CodeSection5
<Write your code here>

         Loan_ID Gender Married  ... Credit_History Property_Area Loan_Status
count        614    601     611  ...     564.000000           614         614
unique       614      2       2  ...            NaN             3           2
top     LP002502   Male     Yes  ...            NaN     Semiurban           Y
freq           1    489     398  ...            NaN           233         422
mean         NaN    NaN     NaN  ...       0.842199           NaN         NaN
std          NaN    NaN     NaN  ...       0.364878           NaN         NaN
min          NaN    NaN     NaN  ...       0.000000           NaN         NaN
25%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
50%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
75%          NaN    NaN     NaN  ...       1.000000           NaN         NaN
max          NaN    NaN     NaN  ...       1.000000           NaN         NaN

[11 rows x 13 columns]

In [ ]:
#CodeSection6
# Convert/Map Load_Status (Y/N) to  (1/0)
# Only do this step if you have non-numerical label in the "y" variable
<Write your code here>

In [ ]:
#CodeSection7
<Write your code here>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    int64
dtypes: float64(4), int64(2), object(7)
memory usage: 62.5+ KB

### Check Test Data
- Check first 5 rows of test [head(), info()]
- Get Summary Statistics [describe()]
- Check/Identify the "y"/dependent variable

In [ ]:
#CodeSection8
<Write your code here>

    Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
0  LP001015   Male     Yes  ...            360.0            1.0         Urban
1  LP001022   Male     Yes  ...            360.0            1.0         Urban
2  LP001031   Male     Yes  ...            360.0            1.0         Urban
3  LP001035   Male     Yes  ...            360.0            NaN         Urban
4  LP001051   Male      No  ...            360.0            1.0         Urban

[5 rows x 12 columns]

In [ ]:
#CodeSection9
<Write your code here>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            367 non-null    object
 1   Gender             356 non-null    object
 2   Married            367 non-null    object
 3   Dependents         357 non-null    object
 4   Education          367 non-null    object
 5   Self_Employed      344 non-null    object
 6   ApplicantIncome    365 non-null    float64
 7   CoapplicantIncome  367 non-null    int64
 8   LoanAmount         362 non-null    float64
 9   Loan_Amount_Term   361 non-null    float64
 10  Credit_History     338 non-null    float64
 11  Property_Area      367 non-null    object
dtypes: float64(4), int64(1), object(7)
memory usage: 34.5+ KB

In [ ]:
#CodeSection10
<Write your code here>

         Loan_ID Gender Married  ... Loan_Amount_Term Credit_History Property_Area
count        367    356     367  ...       361.000000     338.000000           367
unique       367      2       2  ...              NaN            NaN             3
top     LP001789   Male     Yes  ...              NaN            NaN         Urban
freq           1    286     233  ...              NaN            NaN           140
mean         NaN    NaN     NaN  ...       342.537396       0.825444           NaN
std          NaN    NaN     NaN  ...        65.156643       0.380150           NaN
min          NaN    NaN     NaN  ...         6.000000       0.000000           NaN
25%          NaN    NaN     NaN  ...       360.000000       1.000000           NaN
50%          NaN    NaN     NaN  ...       360.000000       1.000000           NaN
75%          NaN    NaN     NaN  ...       360.000000       1.000000           NaN
max          NaN    NaN     NaN  ...       480.000000       1.000000           NaN

[11 rows x 12 columns]

## 3/ Explore any one Valuable Variable 
- Identify all the Categorical Features
- Within them choose one feature that helps predict the dependent variable
- Use groupby along with sum() to get the "y" variable by the selected categoical feature
- Use value_counts() to get the total number of rows in each category

In [ ]:
#CodeSection11
# We will use "Married" for this example
# You can select any other variable of your choice
<Write your code here>

         ApplicantIncome  CoapplicantIncome  ...  Credit_History  Loan_Status
Married                                      ...
No               1058692      280427.000000  ...           167.0          134
Yes              2240411      714263.919989  ...           305.0          285

[2 rows x 6 columns]

In [ ]:
#CodeSection12
# Get count of rows based on each category in your selected Categorical Feature
<Write your code here>

No     213
Yes    398
Name: Married, dtype: int64

***Note : If the categorical feature has more than 2 values, choose the one with highest probability***

In [ ]:
#CodeSection13
# Now the numbers to get the percentage of that category happening
print(f" Probability of <Category 1> happening: {<insert number>/<insert number>:0.1%}")
print(f" Probability of <Category 2> happening : {<insert number>/<insert number>:0.1%}")

 Probability of a Married Customer getting a Loan : 71.6%
 Probability of a Not Married Customer to getting a Loan : 62.9%

### Observation
- Married Applicants have a higher probability of getting a Loan
- use a IF then statement to Predict the "y"/dependent variable
- Use apply(), lambda function on your selected categorical features

In [ ]:
#CodeSection14
<Write your code here>

## 4/ Check Accuracy of Model on Train Data
- Check using groupby() and sum() function

In [ ]:
#CodeSection15
<Write your code here>

         ApplicantIncome  CoapplicantIncome  ...  Loan_Status  Prediction
Married                                      ...
No               1058692      280427.000000  ...          134           0
Yes              2240411      714263.919989  ...          285         398

[2 rows x 7 columns]

### We can use a Accuracy Function from Metrics
- Use the sklearn.metrics library
- Within it we will choose the "accuracy_score" function
- We will compare the Actual "y" against the Predicted "y" using the IF THEN model

In [ ]:
#CodeSection16
<Write your code here>

In [ ]:
#CodeSection17
<Write your code here>
<Write your code here>

In [ ]:
#CodeSection18
print(f" Train Accuracy : {accuracy_score(<Actual>, <Predicted>):0.1%}")

 Train Accuracy : 59.3%

***Q : What accuracy do you observe?***

## 5/ Prediction and Submission
- now lets predict using unseen (test dataset); note test dataset does not have "y" variable
- use apply() and lambda function combo again
- check the prediciton using groupby() and sum()

### Predict

In [ ]:
#CodeSection19
<Write your code here>

In [ ]:
#CodeSection20
\=-09
<Write your code here>

         ApplicantIncome  CoapplicantIncome  ...  Credit_History  Loan_Status_Pred
Married                                      ...
No              599528.0             196917  ...            96.0                 0
Yes            1164127.0             379118  ...           183.0               233

[2 rows x 6 columns]

In [ ]:
#CodeSection21
# We will use (Y/N) to match it to the Competition Submission Data
<Write your code here>

*Use **value_counts()** to check your prediction split*

In [ ]:
#CodeSection21
<Write your code here>

Y    233
N    134
Name: Loan_Status_Pred, dtype: int64

### Import Sample Submission
- Import the Submission file and check the first 5 rows
- Use read_csv() and head()

In [ ]:
#CodeSection22
<Write your code here>
<Write your code here>

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

### Create a Submission
- Create a Dictionary to attach both the columns
- Convert the Dictionary to Pandas Dataframe [use DataFrame()]

In [ ]:
#CodeSection23
submission = pd.DataFrame({
    '<ID>' : <Write your code here>   ,
    '<Predictions>' : <Write your code here>
})

### Export Submission File
- Export to output folder

In [ ]:
#CodeSection24
# Ensure you don't export the index.
<Write your code here>

In [ ]:
# LB Accuracy : <Write Leaderboard Score here>